<section>
  <div class="section">
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi esse
        similique nisi doloribus reprehenderit tempore ex, praesentium accusamus
        rerum quaerat odio distinctio voluptate commodi adipisci minima voluptas
        assumenda earum cum fugit pariatur, voluptatem minus architecto labore?
        Aperiam sint omnis nesciunt accusantium optio laboriosam blanditiis
        delectus ipsam temporibus quibusdam, officia quaerat? Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Id mollitia molestias deserunt
        architecto quod, itaque debitis sint, expedita nostrum aperiam
        doloremque provident maiores cumque? Non, adipisci totam. Facere, ea
        error magnam neque, quos at est iste assumenda veritatis consequuntur,
        ipsum autem quod soluta alias modi hic eveniet impedit dolor nulla a
        tempora itaque quo architecto. Excepturi amet, illum totam nesciunt
        soluta minima ipsum sint modi illo a alias unde. Id suscipit porro alias
        nam numquam provident, labore in sequi ipsum praesentium autem possimus
        voluptates commodi earum expedita inventore ipsa nulla animi amet
        dignissimos ut corrupti et. Tenetur eligendi numquam voluptatibus?
      </p>
    </div>

    <div class="container">
      <img src="assets/Images/Background.jpg" alt="" />
    </div>
  </div>
</section>
